charset-normalizer==2.0.7
ChatterBot==1.0.4    
chatterbot-corpus==1.2.0 
dj-database-url==0.5.0  
Django==3.2.9       
idna==3.3
Jinja2==3.0.3 
joblib==1.1.0
langcodes==3.3.0
MarkupSafe==2.0.1
mathparse==0.1.2      
murmurhash==1.0.6
nltk==3.6.5  
numpy==1.21.4  
psycopg2==2.9.2  
python-dateutil==2.7.5     
pytz==2021.3      
PyYAML==3.13       
regex==2021.11.10
requests==2.26.0      
six==1.16.0
spacy==3.2.0             
spacy-legacy==3.0.8         
spacy-loggers==1.0.1          
SQLAlchemy==1.2.19        
sqlparse==0.4.2
srsly==2.4.2
thinc==8.0.13
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.7
wasabi==0.8.2
Werkzeug==2.0.2
