<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>
    {% load static %} <!-- Load CSS and icon from static -->
    <link rel="shortcut icon" type="image/png" href="{% static 'bot/images/robot_icon.ico' %}"/>
    <link rel="stylesheet" type='text/css' href="{% static 'bot/style.css' %}">
    <!-- Add jquery to get response -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    {% load static %}<img src="{% static 'bot/images/chatbot.png' %}" alt="" id="img-home">
    <h1>Welcome to Food Bot</h1>
    <div>
        <div id="chatbot">
        
        </div>

        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type your message here..."/>
            <input type="submit" id="send" value="Send"/>
        </div>
    </div>
    <script>
        initializeOptions();
        //Function help user choose options
        function initializeOptions(){
            let options =[
                {number:1, title:'How to use'},
                {number:2, title:'Food Ordering'}
            ]
            var html = "<p class='botText'>Chatbot:Hi✌️,I'm Foodbot🤖<br> Please select an option by typing a number:</p>"; //display user text
                $('#chatbot').append(html); //add user text to box

            for(let i=0; i<options.length;i++){
                var html = "<p class='botText'><span>"+options[i].number+ "-" +options[i].title+"</span></p>"; //display user text
                $('#chatbot').append(html); //add user text to box
            }
            var chatbot= document.getElementById('chatbot')
            chatbot.scrollTop = chatbot.scrollHeight;
        }

        //Send Message function
        function sendMessage(messageText){
            var userHTML = "<p class='userText'>Customer: <span>"+messageText+"</span></p>"; //display user text
            $('#chatbot').append(userHTML); //add user text to box
        }

        //Get User input function
        function getUserResponse(messageText){
            
            
            //make ajax request to send from front end to the backend Django
            $.get('/bot/getResponse',{userMessage:messageText}).done(function(data){
                console.log(data);
            var returnedMessage = "<p class='botText'>Chatbot: <span>" + data + "</span></p>";
            $('#chatbot').append(returnedMessage);

            })
        
        
        }
        
        //function to check the option that user selected
        function assistantResponse(messageText){

            if(messageText=='1'){
                var howtouse = 
                "<p class='botText'>How to use this Foodbot🤖<br>Step 1: Type '2' to access the Food Ordering option <br>Step 2: Type the name of the food you want to order<br>Step 3: Type 'Yes' to accept the order and 'No' to reject</p>"; //display text
                $('#chatbot').append(howtouse); //add text to box
            }else if(messageText == '2'){
                //Add Menu Link to JavaScript
                let a = "View Menu";
                let menu = a.link("https://docs.google.com/spreadsheets/d/1BQwPg4_CL2bneFRkwsCJnW-MHX1wiT-g/edit?usp=sharing&ouid=111626621802396743702&rtpof=true&sd=true");
                //Add show menu text
                var showmenu =
                "<div><p class='botText'>Chatbot:Here is the menu of our restaurant<br>"+menu+"<br>Please choose a food or drink you want then type in the message box<br></div>"; //display text
                 $('#chatbot').append(showmenu); //add text to box
            }else{
                getUserResponse(messageText);
            }
        }
        
        //make send button with Jquery
        $('#send').click(function(){ 
            var userText = $('#textInput').val();
            $('#textInput').val(""); //clear the messenger box after user sent
            
            if(userText==""){
                alert('Please type in a message'); // user cannot sent empty message
            }else{
               let messageText = userText.trim(); //store message in a variable remove white space
               sendMessage(messageText); // call the send message function
               assistantResponse(messageText);
            }
            
        })
    </script>
</body>
</html>